# Visual Studio
.vs/
*.user
*.suo
*.userosscache
*.sln.docstates

# Build results
bin/
obj/

# .NET
project.lock.json
project.fragment.lock.json
artifacts/

# Rider / DataGrip
.idea/

# OS files
.DS_Store
Thumbs.db
